@CHARSET "ISO-8859-1";
body {background-color: #F5F5F5!important;  min-width: 330px;}


			
	.answerContainer {
	position: relative;  
	cursor: default;  
	box-sizing: border-box;
	height: 100%;
	width: 50%; 
	text-align: center;
	height: 32px; 
	
	}
	
	.miniBarGraphBar {
	top: 0px; 
	left: 0px; 
	 display: none; 
	 height: 100%; 
	 position: absolute;
	 
	background-color: rgba(41,153,255,0.15); 
	}




		.voteUp:hover {
		opacity:0.5;
		}
		
		.voteDown:hover {
		opacity:0.5;
		}
		
		.reply:hover {
		opacity:0.5;
		}
		
  .comment .left{
    float:left;
    width:100px;
  }
  .comment .right{
     margin-left:100px;
   }
   

  
   
    .next:hover {	  
	cursor: default; 
	border-bottom: solid 2px #61B7FE;
	background-color: #F7FBFF
   }
      
   .next {
	cursor: default; 
	border-bottom: solid 2px #61B7FE;
	background-color: #ffffff;
   }
   
   
   
     .comment .left{
    float:left;
    width:100px;
  }
  .comment .right{
     margin-left:100px;
   }
   
   .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
   
   
   .custom{
	 color: #8BA5FE;
	 cursor: default; 
	 border-bottom: solid 2px #d3d3d3;
	 background-color: #ffffff;
   }
   
       .single{
	  cursor: default; 
	  border-bottom: solid 2px #d3d3d3;

	 background-color: #F7FBFF;

   }
  
 
     .single:hover{
	  cursor: default; 

	  border-bottom: solid 2px #5BC0DE;
	 background-color: #F7FBFF;
   }
   
       .custom:hover{
	  cursor: default; 
	border-bottom: solid 2px #5BC0DE;
	 background-color: #F7FBFF;
   }
  
.modal-open {
    overflow: visible;
}
.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
    padding-right:0px!important;
}


.fb-comments, .fb-comments iframe[style], .fb-comments span {
   width: 100% !important;
}

.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}

.favsharButtion:hover {
	color: #337ab7;
}



.flatMenuItem {

}


.flatMenuItem:hover {
	cursor: default;
}

.flatMenuItemText{
	color: #61B7FE; 
}

.flatMenuItemText:hover{
	color: #4584EF;
}

