@CHARSET "ISO-8859-1";
body {background-color: #F5F5F5!important;  min-width: 330px;}

  .comment .left{
    float:left;
    width:100px;
  }
  .comment .right{
     margin-left:100px;
   }
   

    .picAnswer1 {
	border-bottom: solid 2px #FFFFFF;
	border-right: solid 1px #F0F0E1;
   }
   
   .picAnswer1:hover{
	cursor: default; 
	border-bottom: solid 2px #61B7FE;
	background-color: #F7FBFF;
   }
   

     .picAnswer2 {
	border-bottom: solid 2px #FFFFFF;
   }
   
   .picAnswer1 > .image :hover {
   	opacity: 0.6;

   }
   
   .picAnswer2:hover{
	cursor: default; 
	border-bottom: solid 2px #61B7FE;
	background-color: #F7FBFF;
   }
   
    .next:hover {	  
	cursor: default; 
	border-bottom: solid 2px #61B7FE;
	background-color: #F7FBFF
   }
      
   .next {
	cursor: default; 
	border-bottom: solid 2px #61B7FE;
	background-color: #ffffff;
   }
   
  